<!DOCTYPE html>
<html>
<title>Home Page</title>

<body>
<h1>We Create, You Celebrate!</h1>

<p> 
  Let E-planning help you plan perfection. A stylish event begins long before the guests arrive. It begins with masterful planning. A truly magnificent setting for planning your special event. 
</p>
<hr>
<p>
  Start creating an elegant, professional design now by selecting an option below or customizing your own event.
</p>




  <div class="container">
      <img src= "../../assets/WeddingVenue.jpg" style="width:1150px;height:600px;" border="5">
      <div class="centered"><a routerLink="/create" style="text-decoration:none">Weddings</a></div>
    </div>

    <div class="container">
      <img src= "../../assets/Microsoft.jpg" style="width:1150px;height:600px;" border="5">
      <div class="centered"><a routerLink="/create" style="text-decoration:none">Conferences</a></div>
    </div>

    <div class="container">
      <img src= "../../assets/Birthday.jpg" style="width:1150px;height:600px;" border="5">
      <div class="centered"><a routerLink="/create" style="text-decoration:none">Birthdays</a></div>
    
    </div>

    <div class = "list">
        <h2> Visit our create an event page for other options such as:</h2>
        <ul>
            <li>Wedding Rehersal</li>
            <li>Wedding Shower</li>
            <li>Baby Shower</li>
            <li>Custom Event</li>
        </ul>
    </div>

    



   
  

</body>
</html>
